<div class="media">
    <img class="img" src="{{media.imgLink}}" alt="Image of {{media.title}}">
    <div class"content">
        <h3>{{media.title}}</h3>
        <p>Type: {{media.type}}</p>
        <p>Rating: {{media.rating}}</p>
        <p>Posted {{media.posted}}</p>
    </div>
</div>

    {{#each comments}}
        <div class="commentsBox">    
            <div class="userPost">
                <p>Posted By Anonymous User</p>
                <p>{{posted}}</p>
            </div>
            <div class="comment">
                <p>{{comment}}</p>
                <a href="/media/{{mediaId}}/comments/{{_id}}">Reply</a>
            </div>
        </div>
    {{/each}}

<div class="postCommentBtn">
    <button><a href="/media/{{media._id}}/comments/new">Post A Comment</a></button>
</div>