<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="/media">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="/users/{{user._id}}/media/movies">Movies</a>
      <a class="nav-item nav-link" href="/users/{{user._id}}/media/musics">Musics</a>
      <a class="nav-item nav-link" href="/users/{{user._id}}/media/books">Books</a>
      <a class="nav-item nav-link" href="/users">User Page</a>
      <a class="nav-item nav-link" href="/users/new">Create New Account</a>
    </div>
  </div>
</nav>

<div class="media">
    <img class="img" src="{{media.imgLink}}" alt="Image of {{media.title}}">
    <div class"content">
        <h3>{{media.title}}</h3>
        <p>Type: {{media.type}}</p>
        <p>Rating: {{media.rating}}</p>
        <p>Posted {{media.posted}}</p>
    </div>
</div>

<form method="POST" action="/media/{{media._id}}/comments">
    <div id="input" class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Comments..." name="comment" aria-label="Recipient's username" aria-describedby="button-addon2">
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" id="submitBtn" type="submit">Post a comment</button>
        </div>
    </div>
</form>

{{#each comments}}
    <div class="commentsBox">    
        <div class="userPost">
            <p>Posted By Anonymous User on   <span>  {{posted}}</span> </p>
        </div>
        <p class="commentText">{{comment}}</p>
        <div class="comment">
            <div class="editCommentText">
                <button><a href="/media/{{mediaId}}/comments/{{_id}}/edit">Edit Comment Post</a></button>
            </div>
            <div class="deleteComment">
                <form  action="/media/{{mediaId}}/comments/{{_id}}?_method=DELETE" method="post">
                    <input id="deleteComment" type="submit" value="Delete Comment">
                </form>
            </div>
        </div>
    </div>
{{/each}}


