<div class="media">
    <img class="img" src="{{imgLink}}" alt="Image of {{title}}">
    <div class"content">
        <h3>Title: {{media.title}}</h3>
        <p>Type: {{media.type}}</p>
        <p>Rating: {{media.rating}}</p>
        <p>Review: {{media.review}}</p>
    </div>
</div>


{{#each comments}}
        <div class"content">
            <p>Comment: {{comment}}</p>
        </div>
        <div class="comment">
            <button><a href="/media/{{mediaId}}/comments/{{_id}}">Reply</a></button>
        </div>

{{/each}}

<div class="comment">
        <button><a href="/media/{{media._id}}/comments/new">Post A Comment</a></button>
    </div>