<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="/media">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="/users/{{user._id}}/media/movies">Movies</a>
      <a class="nav-item nav-link" href="/users/{{user._id}}/media/musics">Musics</a>
      <a class="nav-item nav-link" href="/users/{{user._id}}/media/books">Books</a>
      <a class="nav-item nav-link" href="/users">User Page</a>
      <a class="nav-item nav-link" href="/users/{{user._id}}/media/new">Post New Review</a>
      <a class="nav-item nav-link" href="/users/new">Create New Account</a>
    </div>
  </div>
</nav>

<h1>Books Review</h1>

{{#each media}}
    <div class="media">
        <img class="img" src="{{imgLink}}" alt="Image of {{title}}">
        <div class"content">
            <h3>Title: {{title}}</h3>
            <p>Type: {{type}}</p>
            <p>Rating: {{rating}}</p>
            <button><a href="/users/{{userId}}/media/{{_id}}">Read Review</a></button>
        </div>
    </div>
{{/each}}