<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="/media">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="/users/{{user._id}}/media/movies">Movies</a>
      <a class="nav-item nav-link" href="/users/{{user._id}}/media/musics">Musics</a>
      <a class="nav-item nav-link" href="/users/{{user._id}}/media/books">Books</a>
      <a class="nav-item nav-link" href="/users">User Page</a>
      <a class="nav-item nav-link" href="/users/new">Create New Account</a>
    </div>
  </div>
</nav>

<h1>All Posted Of {{user.userName}}</h1>

{{#each media}}
    <div class="media">
        <img class="img" src="{{imgLink}}" alt="Image of {{title}}">
        <div class"content">
          <h3>Title: {{title}}</h3>
          <p>Type: {{type}}</p>
          <p>Rating: {{rating}}/5</p>
          <p>Posted {{posted}}</p>
            <div class="allMediaBtn">
              <div class="Btn1">
                <button><a href="/users/{{userId}}/media/{{_id}}">Read Review</a></button>
                <button type="button"><a href="/users/{{userId}}/media/{{_id}}/edit">Edit media post</a></button>
              </div>
              <div class="Btn-2">
                <form action="/users/{{user._id}}/media/{{media._id}}?_method=DELETE" method="post">
                  <input type="submit" value="Delete Media">
                </form>
              </div>
            </div>
        </div>
    </div>
  
      
    
{{/each}}

