

<h1>Media Reviews</h1>

{{#each media}}
    <div class="media">
        <img class="img" src="{{imgLink}}" alt="Image of {{title}}">
        <div class"content">
            <h3>Title:<a href="/users/{{userId}}/media/{{_id}}"> {{title}}</a></h3>
            <p>Type: {{type}}</p>
            <p>Rating: {{rating}}</p>
            <p>Review: {{review}}</p>
        </div>
    </div>
    <div class="comment">
        <button>Comments</button>
    </div>
{{/each}}