<h1>Media Content</h1>

{{#each media}}
    <div>
        <p>Type of media: {{type}}</p>
        <p>Title: {{title}}</p>
        <p>Year: {{year}}</p>
        <p>Genre: {{genre}}</p>
        <p>Review: {{review}}</p>
    </div>
{{/each}}
