<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="#">Movies</a>
      <a class="nav-item nav-link" href="#">Musics</a>
      <a class="nav-item nav-link" href="#">Books</a>
      <a class="nav-item nav-link" href="/users">User Page</a>
      <a class="nav-item nav-link" href="/users/{{user._id}}/media/new">Post New Review</a>
      <a class="nav-item nav-link" href="/users/new">Create New Account</a>
    </div>
  </div>
</nav>

<h1>Media Reviews</h1>

{{#each media}}
    <div class="media">
        <img class="img" src="{{imgLink}}" alt="Image of {{title}}">
        <div class"content">
            <h3>Title:<a href="/users/{{userId}}/media/{{_id}}"> {{title}}</a></h3>
            <p>Type: {{type}}</p>
            <p>Rating: {{rating}}</p>
            <p>Review: {{review}}</p>
        </div>
    </div>
    {{!-- <div class="comment">
        <button>Comments</button>
    </div> --}}
{{/each}}