<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="/media">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="/users/{{user._id}}/media/movies">Movies</a>
      <a class="nav-item nav-link" href="/users/{{user._id}}/media/musics">Musics</a>
      <a class="nav-item nav-link" href="/users/{{user._id}}/media/books">Books</a>
      <a class="nav-item nav-link" href="/users">User Page</a>
      <a class="nav-item nav-link" href="/users/{{user._id}}/media/new">Post New Review</a>
      <a class="nav-item nav-link" href="/users/new">Create New Account</a>
    </div>
  </div>
</nav>

<h2>{{media.title}}</h2>

    <div class="container">
        <div class"title">
            <img class="img" src="{{media.imgLink}}" alt="Image of {{media.title}}" /></br>
        </div>

        <div class="wrapper">
            <div class="info">
                <p>Type: {{media.type}}</p>
                <p>Rating: {{media.rating}}</p>
                <p>Posted {{media.posted}}</p>
                <p>Posted by: {{user.userName}}</p>
            </div>
            <div class="review">
                <h3>Reviews</h3>
                <p>{{media.review}}</p>
            </div>
        </div>
    </div>  

<div class="comment">
    <button><a href="/media/{{media._id}}/comments/{{comment._id}}">View Comments</a></button>
</div>

<a href="/users/{{user._id}}/media/{{media._id}}/edit">Edit media post</a>

<form action="/users/{{user._id}}/media/{{media._id}}?_method=DELETE" method="post">
    <input type="submit" value="Delete Media">
</form>

    