
<h2>User Name: {{user.userName}}</h2>

<div>
    <p>First Name: {{user.firstName}}</p>
    <p>Last Name: {{user.lastName}}</p>
    <p>Account created at: {{user.createdDate}}</p>
    <p>user ID: {{media.userId}}</p>
</div>

<h2>Media Content</h2>

{{!-- <div>
    <p>media id : {{media._id}}</p>
    <p>Type of media: {{media.type}}</p>
    <p>Title: {{media.title}}</p>
    <p>Rating: {{media.rating}}</p>
    <p>Review: {{media.review}}</p>
    <p>{{media.userId}}</p>
    <img src="{{media.imgLink}}" alt="Image of {{movie.title}}">
</div> --}}

<div class="media">
    <img class="img" src="{{imgLink}}" alt="Image of {{title}}">
    <div class"content">
        <h3>Title: {{media.title}}</h3>
        <p>Type: {{media.type}}</p>
        <p>Rating: {{media.rating}}</p>
        <p>Review: {{media.review}}</p>
    </div>
</div>

{{#each comments}}
<div class="comments">
    <p>{{comments}}</p>
</div>
{{/each}}

    <div class="comment">
        <button><a href="/media/{{media._id}}/comments/new">Post A Comment</a></button>
    </div>

<a href="/users/{{user._id}}/media/{{media._id}}/edit">Edit media post</a>

<form action="/users/{{user._id}}/media/{{media._id}}?_method=DELETE" method="post">
    <input type="submit" value="Delete Media">
</form>