<form method="POST" action="/movies/{{movie._id}}?_method=PUT"">

  <input type="text" placeholder="Type of media" name="type" value="{{movie.type}}" />

  <input type="text" placeholder="Title "name="title" value="{{movie.title}}" />

  <input type="text" placeholder="Year" name="year" value="{{movie.year}}" />

  <input type="text" placeholder="Genre" name="genre" value="{{movie.genre}}" />

  <input type="text" placeholder="Review" name="review" value="{{movie.review}}" />

  <input type="submit" value="Edit Movie Review" />
  
</form>

