<form method="POST" action="/movies/{{movie._id}}?_method=PUT"">

  <input type="text" placeholder="Type of media" name="type" value="{{movie.type}}" />

  <input type="text" placeholder="Title "name="title" value="{{movie.title}}" />

  <input type="text" placeholder="Rating" name="rating" value="{{movie.rating}}" />

  <input type="text" placeholder="Review" name="review" value="{{movie.review}}" />

  <input type="text" name="imgLink" id="img-link" value="{{movie.imgLink}}"/>

  <input type="submit" value="Edit Movie Review" />
  
</form>

