<h2>Movies Content</h2>

<div>
    <p>Type of media: {{movie.type}}</p>
    <p>Title: {{movie.title}}</p>
    <p>Year: {{movie.year}}</p>
    <p>Genre: {{movie.genre}}</p>
    <p>Review: {{movie.review}}</p>
</div>

<a href="/movies">Go back to All Movies</a>

<a href="/movies/{{movie._id}}/edit">Edit movie post</a>