<h1>Movies Content</h1>

{{#each movies}}
    <div>
        <p>Type of media: {{type}}</p>
        <p>Title: {{title}}</p>
        <p>Title:<a href="/movies/{{_id}}"> {{title}}</a></p>
        <p>Year: {{year}}</p>
        <p>Genre: {{genre}}</p>
        <p>Review: {{review}}</p>
    </div>
{{/each}}

<a href="/movies/new">Post new movie review</a>
