<h1>Movies Content</h1>

{{#each movies}}
    <div>
        <p>{{_id}}</p>
        <p>Type of media: {{type}}</p>
        <p>Title: {{title}}</p>
        <p>Year: {{year}}</p>
        <p>Genre: {{genre}}</p>
        <p>Review: {{review}}</p>
    </div>
{{/each}}
