<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="/movies">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="#">Movies</a>
      <a class="nav-item nav-link" href="#">Musics</a>
      <a class="nav-item nav-link" href="#">Books</a>
      <a class="nav-item nav-link" href="/movies/new">Post New Review</a>
    </div>
  </div>
</nav>

<h2>Movies Content</h2>

<div>
    <p>Type of media: {{movie.type}}</p>
    <p>Title: {{movie.title}}</p>
    <p>Rating: {{movie.rating}}</p>
    <p>Review: {{movie.review}}</p>
    <img src="{{movie.imgLink}}" alt="Image of {{movie.title}}">
</div>

<a href="/movies">Go back to All Movies</a>

<a href="/movies/{{movie._id}}/edit">Edit movie post</a>

<form action="/movies/{{movie._id}}?_method=DELETE" method="post">
    <input type="submit" value="Delete Movie">
</form>