

<h2>User Name: {{user.userName}}</h2>

<div>
    <p>First Name: {{user.firstName}}</p>
    <p>Last Name: {{user.lastName}}</p>
    <p>Account created at: {{user.createdDate}}</p>
</div>

<a href="/users/{{user._id}}/edit">Edit User Post</a>

<form action="/users/{{user._id}}?_method=DELETE" method="post">
    <input type="submit" value="Delete User">
</form>