<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="/media">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="/users/new">Create New Account</a>
    </div>
  </div>
</nav>

<h1>All Users Accounts</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col" class="userName">User Name</th>
      <th scope="col" class="firstName">First</th>
      <th scope="col" class="lastName">Last</th>
      <th scope="col" class="createDate">Account Created At</th>
      <th scope="col" class="post">User Posts</th>
      <th scope="col" class="edit">Edit</th>
      <th scope="col" class="delete">Delete</th>
    </tr>
  </thead>
{{#each users}}
  <tbody>
    <tr>
      <th scope="row" id="userName">{{userName}}</th>
      <td>{{firstName}}</td>
      <td>{{lastName}}</td>
      <td>{{createdDate}}</td>
      <td><a href="/users/{{_id}}/media/">Views {{userName}} posts</a></td>
      <td><a href="/users/{{_id}}/edit">Edit User Info</a></td>
      <td>
          <form action="/users/{{_id}}?_method=DELETE" method="post">
            <input type="submit" value="Delete">
          </form>
      </td>
    </tr>
  </tbody>
{{/each}}
</table>
