

<h1>All Users</h1>

{{#each users}}
        <div class"content">
            <p>Username:<a href="/users/{{_id}}"> {{userName}}</a></p>
            <p>First Name: {{firstName}}</p>
            <p>Last Name: {{lastName}}</p>
            <p>Account created at: {{createdDate}}</p>
        </div>
{{/each}}